<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    <add key="PathToLog" value="F:\log.txt"/>
    <add key ="PathToSerialize" value="F:\serializedText.txt"/>
   <add key="PathToFirstHomework" value="C:\epamTrainingSolution\FirstHomework\bin\Debug\FirstHomework.dll"/>
  </appSettings>
</configuration>