<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    <add key="PathToLog" value="D:\log.txt"/>
    <add key ="PathToSerialize" value="D:\serializedText.txt"/>
   <add key="PathToFirstHomework" value="C:\epamExternalTraining\epamTrainingSolution\TestDll1\bin\Debug\TestDll1.dll"/>
  </appSettings>
</configuration>